body {
	font-family: arial;
	font-size: 16px;
	user-select: none;
}

div.page {
	display: none;
	width: 960px;
	margin: auto;
	padding: 0px;
	background-color: #fafafa;
	border: 1px solid #ccc;
	animation: fadein 1s;
}

div.title {
	text-align: center;
	background-color: #505050;
	color: #fff;
	padding: 5px;
	font-size: 16px;
}

div.content {
	margin: 10px;
	padding: 0px;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

div.content p {
	margin: 10px;
}

div.center {
	text-align: center;
}

div.content select {
	margin: 2px 10px 10px 10px;
	padding: 2px;
	min-width: 100px;
	width: 75%;
	background-color: #fafafa;
	border-color: #ccc;
	font-size:16px;
}

button, input, select {
	cursor: pointer;
	font-size:16px;
}

div.next {
	text-align: right;
}

div.next button {
	padding:10px 30px;
	margin: 10px;
}

div.trial {
	display: flex;
	height:400px;
}

div#middle-div {
	width:20%;
	height:100%;
}

div#left-div, div#right-div {
	width:40%;
	padding:50px;
	text-align: center;
}

div.blue button {
	background-color: #9999ff;
	padding: 10px;
}

div.purple button {
	background-color: #aa50aa;
	padding: 10px;
}

div.machines {
	padding: auto;
}